@import url("https://webfontworld.github.io/naver/NanumSquareRound.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "NanumSquareRound";
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
  vertical-align: bottom;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.9em;
}

header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: url(../images/background_mo.png) no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  body {
    background: url(../images/background.png) no-repeat;
    background-size: cover;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(159, 223, 255, 0)), to(#9fdfff));
  background: linear-gradient(rgba(159, 223, 255, 0), #9fdfff);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #371c69;
}

body .star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: rgba(255, 255, 255, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    background: white;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes twinkle {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: rgba(255, 255, 255, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    background: white;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

body header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body header .planet_1 {
  position: absolute;
  left: 15%;
  width: 18%;
  -webkit-animation: jump1 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: jump1 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@-webkit-keyframes jump1 {
  0% {
    top: 23%;
  }
  50% {
    top: 21%;
  }
  100% {
    top: 23%;
  }
}

@keyframes jump1 {
  0% {
    top: 23%;
  }
  50% {
    top: 21%;
  }
  100% {
    top: 23%;
  }
}

@media screen and (min-width: 768px) {
  body header .planet_1 {
    left: 15%;
    width: 10%;
  }
  @-webkit-keyframes jump1 {
    0% {
      top: 19%;
    }
    50% {
      top: 17%;
    }
    100% {
      top: 19%;
    }
  }
  @keyframes jump1 {
    0% {
      top: 19%;
    }
    50% {
      top: 17%;
    }
    100% {
      top: 19%;
    }
  }
}

@media screen and (min-width: 1024px) {
  body header .planet_1 {
    left: 18%;
    width: 7%;
  }
}

body header .planet_2 {
  position: absolute;
  right: -13%;
  width: 45%;
  -webkit-animation: jump2 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: jump2 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@-webkit-keyframes jump2 {
  0% {
    top: 0%;
  }
  50% {
    top: -1%;
  }
  100% {
    top: 0%;
  }
}

@keyframes jump2 {
  0% {
    top: 0%;
  }
  50% {
    top: -1%;
  }
  100% {
    top: 0%;
  }
}

@media screen and (min-width: 768px) {
  body header .planet_2 {
    right: 23%;
    width: 6%;
  }
  @-webkit-keyframes jump2 {
    0% {
      top: 75%;
    }
    50% {
      top: 73%;
    }
    100% {
      top: 75%;
    }
  }
  @keyframes jump2 {
    0% {
      top: 75%;
    }
    50% {
      top: 73%;
    }
    100% {
      top: 75%;
    }
  }
}

@media screen and (min-width: 1024px) {
  body header .planet_2 {
    right: 20%;
    width: 5%;
  }
}

body header .spaceship_flex {
  position: absolute;
  left: 50%;
  width: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: jump3 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: jump3 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@-webkit-keyframes jump3 {
  0% {
    top: 50%;
  }
  50% {
    top: 48%;
  }
  100% {
    top: 50%;
  }
}

@keyframes jump3 {
  0% {
    top: 50%;
  }
  50% {
    top: 48%;
  }
  100% {
    top: 50%;
  }
}

@media screen and (min-width: 768px) {
  body header .spaceship_flex {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  body header .spaceship_flex {
    width: 18%;
  }
}

body header .spaceship_flex::before, body header .spaceship_flex::after {
  position: absolute;
  content: "";
  top: 35%;
  left: 35%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header .spaceship_flex::after {
  background: white;
  z-index: -1;
  -webkit-animation: backglow2 15s ease infinite;
          animation: backglow2 15s ease infinite;
}

body header .spaceship_flex::before {
  background: white;
  z-index: -1;
  -webkit-animation: backglow1 15s ease infinite;
          animation: backglow1 15s ease infinite;
}

@-webkit-keyframes backglow1 {
  0% {
    -webkit-transform: translate(10%, 10%) scale(1);
            transform: translate(10%, 10%) scale(1);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translate(-10%, 10%) scale(0.8);
            transform: translate(-10%, 10%) scale(0.8);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translate(-10%, -10%) scale(1.2);
            transform: translate(-10%, -10%) scale(1.2);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translate(10%, -10%) scale(1.1);
            transform: translate(10%, -10%) scale(1.1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(10%, 10%) scale(1);
            transform: translate(10%, 10%) scale(1);
    opacity: 0.5;
  }
}

@keyframes backglow1 {
  0% {
    -webkit-transform: translate(10%, 10%) scale(1);
            transform: translate(10%, 10%) scale(1);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translate(-10%, 10%) scale(0.8);
            transform: translate(-10%, 10%) scale(0.8);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translate(-10%, -10%) scale(1.2);
            transform: translate(-10%, -10%) scale(1.2);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translate(10%, -10%) scale(1.1);
            transform: translate(10%, -10%) scale(1.1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(10%, 10%) scale(1);
            transform: translate(10%, 10%) scale(1);
    opacity: 0.5;
  }
}

@-webkit-keyframes backglow2 {
  0% {
    -webkit-transform: translate(-10%, -10%) scale(1);
            transform: translate(-10%, -10%) scale(1);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translate(10%, -10%) scale(0.8);
            transform: translate(10%, -10%) scale(0.8);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translate(10%, 10%) scale(1.2);
            transform: translate(10%, 10%) scale(1.2);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translate(-10%, 10%) scale(1.1);
            transform: translate(-10%, 10%) scale(1.1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(-10%, -10%) scale(1);
            transform: translate(-10%, -10%) scale(1);
    opacity: 0.5;
  }
}

@keyframes backglow2 {
  0% {
    -webkit-transform: translate(-10%, -10%) scale(1);
            transform: translate(-10%, -10%) scale(1);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translate(10%, -10%) scale(0.8);
            transform: translate(10%, -10%) scale(0.8);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translate(10%, 10%) scale(1.2);
            transform: translate(10%, 10%) scale(1.2);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: translate(-10%, 10%) scale(1.1);
            transform: translate(-10%, 10%) scale(1.1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(-10%, -10%) scale(1);
            transform: translate(-10%, -10%) scale(1);
    opacity: 0.5;
  }
}

body header .spaceship_flex .spaceship {
  width: 100%;
}

body header .planet_3 {
  position: absolute;
  left: 68%;
  width: 25%;
  -webkit-animation: jump4 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: jump4 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@-webkit-keyframes jump4 {
  0% {
    top: 58%;
  }
  50% {
    top: 60%;
  }
  100% {
    top: 58%;
  }
}

@keyframes jump4 {
  0% {
    top: 58%;
  }
  50% {
    top: 60%;
  }
  100% {
    top: 58%;
  }
}

@media screen and (min-width: 768px) {
  body header .planet_3 {
    left: 4%;
    width: 22%;
  }
  @-webkit-keyframes jump4 {
    0% {
      top: 58%;
    }
    50% {
      top: 55%;
    }
    100% {
      top: 58%;
    }
  }
  @keyframes jump4 {
    0% {
      top: 58%;
    }
    50% {
      top: 55%;
    }
    100% {
      top: 58%;
    }
  }
}

@media screen and (min-width: 1024px) {
  body header .planet_3 {
    top: 8%;
    left: 7%;
    width: 14%;
  }
}

body header .planet_4 {
  position: absolute;
  left: 18%;
  width: 12%;
  -webkit-animation: jump5 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: jump5 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@-webkit-keyframes jump5 {
  0% {
    top: 71%;
  }
  50% {
    top: 70%;
  }
  100% {
    top: 71%;
  }
}

@keyframes jump5 {
  0% {
    top: 71%;
  }
  50% {
    top: 70%;
  }
  100% {
    top: 71%;
  }
}

@media screen and (min-width: 768px) {
  body header .planet_4 {
    top: 8%;
    left: 72%;
    width: 22%;
  }
  @-webkit-keyframes jump5 {
    0% {
      top: 10%;
    }
    50% {
      top: 8%;
    }
    100% {
      top: 10%;
    }
  }
  @keyframes jump5 {
    0% {
      top: 10%;
    }
    50% {
      top: 8%;
    }
    100% {
      top: 10%;
    }
  }
}

@media screen and (min-width: 1024px) {
  body header .planet_4 {
    top: 8%;
    left: 68%;
    width: 17%;
  }
}

body main .hello {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

body main .hello .wrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 640px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 640px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

body main .hello .wrapper .hello_img {
  position: relative;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main .hello .wrapper .hello_img {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_img {
    width: 50%;
    margin-right: 1%;
  }
}

body main .hello .wrapper .hello_img::before, body main .hello .wrapper .hello_img::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_img::before, body main .hello .wrapper .hello_img::after {
    top: 35%;
    left: 50%;
    width: 35%;
    height: 35%;
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
}

body main .hello .wrapper .hello_img::after {
  background: white;
  z-index: -3;
}

body main .hello .wrapper .hello_img::before {
  background: white;
  z-index: -3;
}

body main .hello .wrapper .hello_img img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_img img {
    width: 80%;
    margin: 0 auto;
  }
}

body main .hello .wrapper .hello_img img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_img img:nth-child(2) {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

body main .hello .wrapper .hello_text {
  text-align: center;
  color: #fff8fc;
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_text {
    width: 50%;
    text-align: left;
    margin: 0 auto;
  }
}

body main .hello .wrapper .hello_text h1 {
  font-size: 4em;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  body main .hello .wrapper .hello_text h1 {
    font-size: 4.2em;
  }
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_text h1 {
    display: inline;
    font-size: 4.7em;
    margin-right: 25px;
  }
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_text .console,
  body main .hello .wrapper .hello_text .background {
    display: inline;
  }
}

body main .hello .wrapper .hello_text .change-text {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main .hello .wrapper .hello_text .change-text {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_text .change-text {
    display: inline;
    font-size: 2.8em;
    margin-bottom: 40px;
  }
}

body main .hello .wrapper .hello_text .change-text::after {
  content: '_';
  -webkit-animation: blinking 1.2s infinite;
          animation: blinking 1.2s infinite;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

body main .hello .wrapper .hello_text p {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main .hello .wrapper .hello_text p {
    font-size: 1.8em;
    font-weight: 600;
  }
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_text p {
    font-size: 2.8em;
    margin-bottom: 40px;
  }
}

body main .hello .wrapper .hello_text .pr_list,
body main .hello .wrapper .hello_text .history_list {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 30px;
  margin-bottom: 15px;
  list-style: square inside url("../svg/star.svg");
}

@media screen and (min-width: 768px) {
  body main .hello .wrapper .hello_text .pr_list,
  body main .hello .wrapper .hello_text .history_list {
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 35px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1024px) {
  body main .hello .wrapper .hello_text .pr_list,
  body main .hello .wrapper .hello_text .history_list {
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 35px;
    margin-bottom: 25px;
  }
}

body main .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1f0b47;
  overflow: hidden;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  body main .skill {
    width: 100%;
    background: url(../images/circle.png) no-repeat center center;
    background-size: 60%;
    background-color: #1f0b47;
  }
}

body main .skill .wrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 640px;
  margin: 0 auto;
}

body main .skill .wrapper .solar-system {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .solar-system {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .solar-system {
    width: 2000px;
    margin: 0 -398px;
  }
}

body main .skill .wrapper .orbit {
  border: 1px dashed rgba(255, 248, 252, 0.3);
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .orbit {
    border: 3.58px dashed rgba(255, 248, 252, 0.3);
  }
}

body main .skill .wrapper .orbit,
body main .skill .wrapper .orbit + div,
body main .skill .wrapper .orbit + div > div {
  position: absolute;
}

body main .skill .wrapper .orbit,
body main .skill .wrapper .orbit + div {
  top: 50%;
  left: 100%;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .orbit,
  body main .skill .wrapper .orbit + div {
    top: 50%;
    left: 50%;
  }
}

body main .skill .wrapper .orbit + div > div {
  top: 0;
  left: 50%;
}

body main .skill .wrapper .orbit,
body main .skill .wrapper .orbit + div div,
body main .skill .wrapper #sass {
  border-radius: 50%;
}

body main .skill .wrapper #adobe {
  margin-top: -37.5px;
  margin-left: -37.5px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 34px #3a4385;
          box-shadow: 0 0 34px #3a4385;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper #adobe {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper #adobe {
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
  }
}

body main .skill .wrapper .adobe-orbit,
body main .skill .wrapper .adobe-spin {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .adobe-orbit,
  body main .skill .wrapper .adobe-spin {
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .adobe-orbit,
  body main .skill .wrapper .adobe-spin {
    width: 800px;
    height: 800px;
    margin-left: -400px;
    margin-top: -400px;
  }
}

body main .skill .wrapper #html_css {
  margin-top: -37.5px;
  margin-left: -37.5px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 34px #3a4385;
          box-shadow: 0 0 34px #3a4385;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper #html_css {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper #html_css {
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
  }
}

body main .skill .wrapper .html_css-orbit,
body main .skill .wrapper .html_css-spin {
  width: 450px;
  height: 450px;
  margin-left: -225px;
  margin-top: -225px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .html_css-orbit,
  body main .skill .wrapper .html_css-spin {
    width: 450px;
    height: 450px;
    margin-top: -225px;
    margin-left: -225px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .html_css-orbit,
  body main .skill .wrapper .html_css-spin {
    width: 1050px;
    height: 1050px;
    margin-top: -525px;
    margin-left: -525px;
  }
}

body main .skill .wrapper #sass {
  margin-top: -37.5px;
  margin-left: -37.5px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 34px #3a4385;
          box-shadow: 0 0 34px #3a4385;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper #sass {
    height: 40px;
    width: 40px;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper #sass {
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
  }
}

body main .skill .wrapper .sass-orbit,
body main .skill .wrapper .sass-spin {
  width: 750px;
  height: 750px;
  margin-left: -375px;
  margin-top: -375px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .sass-orbit,
  body main .skill .wrapper .sass-spin {
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .sass-orbit,
  body main .skill .wrapper .sass-spin {
    width: 1200px;
    height: 1200px;
    margin-top: -600px;
    margin-left: -600px;
  }
}

body main .skill .wrapper #js {
  margin-top: -37.5px;
  margin-left: -37.5px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 34px #3a4385;
          box-shadow: 0 0 34px #3a4385;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper #js {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper #js {
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
  }
}

body main .skill .wrapper .js-orbit,
body main .skill .wrapper .js-spin {
  width: 1000px;
  height: 1000px;
  margin-left: -500px;
  margin-top: -500px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .js-orbit,
  body main .skill .wrapper .js-spin {
    width: 800px;
    height: 800px;
    margin-left: -400px;
    margin-top: -400px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .js-orbit,
  body main .skill .wrapper .js-spin {
    width: 1500px;
    height: 1500px;
    margin-top: -750px;
    margin-left: -750px;
  }
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-right-mo {
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin-right-mo {
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body main .skill .wrapper .adobe-spin {
  -webkit-animation: spin-right-mo 15s linear infinite;
          animation: spin-right-mo 15s linear infinite;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .adobe-spin {
    -webkit-animation: spin-right 8.8s linear infinite;
            animation: spin-right 8.8s linear infinite;
  }
}

body main .skill .wrapper .html_css-spin {
  -webkit-animation: spin-right-mo 10s linear infinite;
          animation: spin-right-mo 10s linear infinite;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .html_css-spin {
    -webkit-animation: spin-right 22s linear infinite;
            animation: spin-right 22s linear infinite;
  }
}

body main .skill .wrapper .sass-spin {
  -webkit-animation: spin-right-mo 13s linear infinite;
          animation: spin-right-mo 13s linear infinite;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .sass-spin {
    -webkit-animation: spin-right 36.5s linear infinite;
            animation: spin-right 36.5s linear infinite;
  }
}

body main .skill .wrapper .js-spin {
  -webkit-animation: spin-right-mo 12s linear infinite;
          animation: spin-right-mo 12s linear infinite;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .js-spin {
    -webkit-animation: spin-right 32s linear infinite;
            animation: spin-right 32s linear infinite;
  }
}

body main .skill .wrapper .big_img {
  position: absolute;
  bottom: 18%;
  left: 10%;
  color: #fff8fc;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

body main .skill .wrapper .big_img .adobe_big {
  position: absolute;
  width: 200px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .adobe_big {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .adobe_big {
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
  }
}

body main .skill .wrapper .big_img .adobe_big img {
  display: none;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .adobe_big img {
    display: inline-block;
    width: 60%;
    margin: auto;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .adobe_big img {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
}

body main .skill .wrapper .big_img .adobe_big h2 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .adobe_big h2 {
    font-size: 2.3em;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .adobe_big h2 {
    font-size: 5em;
  }
}

body main .skill .wrapper .big_img .adobe_big p {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .adobe_big p {
    width: 50%;
    font-size: 0.7em;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .adobe_big p {
    width: 55%;
    font-size: 1.3em;
  }
}

body main .skill .wrapper .big_img .html_css_big {
  display: none;
  position: absolute;
  width: 200px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .html_css_big {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .html_css_big {
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
  }
}

body main .skill .wrapper .big_img .html_css_big img {
  display: none;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .html_css_big img {
    display: inline-block;
    width: 60%;
    margin: auto;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .html_css_big img {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
}

body main .skill .wrapper .big_img .html_css_big h2 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .html_css_big h2 {
    font-size: 2.3em;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .html_css_big h2 {
    font-size: 5em;
  }
}

body main .skill .wrapper .big_img .html_css_big p {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .html_css_big p {
    width: 50%;
    font-size: 0.7em;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .html_css_big p {
    width: 55%;
    font-size: 1.3em;
  }
}

body main .skill .wrapper .big_img .sass_big {
  display: none;
  position: absolute;
  width: 200px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .sass_big {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .sass_big {
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
  }
}

body main .skill .wrapper .big_img .sass_big img {
  display: none;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .sass_big img {
    display: inline-block;
    width: 60%;
    margin: auto;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .sass_big img {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
}

body main .skill .wrapper .big_img .sass_big h2 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .sass_big h2 {
    font-size: 2.3em;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .sass_big h2 {
    font-size: 5em;
  }
}

body main .skill .wrapper .big_img .sass_big p {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .sass_big p {
    width: 50%;
    font-size: 0.7em;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .sass_big p {
    width: 55%;
    font-size: 1.3em;
  }
}

body main .skill .wrapper .big_img .js_big {
  display: none;
  position: absolute;
  width: 200px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .js_big {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .js_big {
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
  }
}

body main .skill .wrapper .big_img .js_big img {
  display: none;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .js_big img {
    display: inline-block;
    width: 60%;
    margin: auto;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .js_big img {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
}

body main .skill .wrapper .big_img .js_big h2 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .js_big h2 {
    font-size: 2.3em;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .js_big h2 {
    font-size: 5em;
  }
}

body main .skill .wrapper .big_img .js_big p {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  body main .skill .wrapper .big_img .js_big p {
    width: 50%;
    font-size: 0.7em;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  body main .skill .wrapper .big_img .js_big p {
    width: 55%;
    font-size: 1.3em;
  }
}

body main .popol {
  width: 100%;
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
}

@media screen and (min-width: 768px) {
  body main .popol {
    position: relative;
  }
}

body main .popol .wrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 640px;
  margin: 0 auto;
}

body main .popol .wrapper .po_1, body main .popol .wrapper .po_2,
body main .popol .wrapper .po_3, body main .popol .wrapper .po_4 {
  position: relative;
  width: 170px;
  margin: 0 auto;
  margin-top: 30px;
}

body main .popol .wrapper .po_1:first-child, body main .popol .wrapper .po_2:first-child,
body main .popol .wrapper .po_3:first-child, body main .popol .wrapper .po_4:first-child {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body main .popol .wrapper .po_1, body main .popol .wrapper .po_2,
  body main .popol .wrapper .po_3, body main .popol .wrapper .po_4 {
    width: 350px;
  }
}

body main .popol .wrapper .po_1:hover .popol_img, body main .popol .wrapper .po_2:hover .popol_img,
body main .popol .wrapper .po_3:hover .popol_img, body main .popol .wrapper .po_4:hover .popol_img {
  background-color: #000;
}

body main .popol .wrapper .po_1:hover img, body main .popol .wrapper .po_2:hover img,
body main .popol .wrapper .po_3:hover img, body main .popol .wrapper .po_4:hover img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  cursor: url(./images/picture.png), pointer;
}

body main .popol .wrapper .po_1:hover .popol_text, body main .popol .wrapper .po_2:hover .popol_text,
body main .popol .wrapper .po_3:hover .popol_text, body main .popol .wrapper .po_4:hover .popol_text {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body main .popol .wrapper .po_1 .popol_img, body main .popol .wrapper .po_2 .popol_img,
body main .popol .wrapper .po_3 .popol_img, body main .popol .wrapper .po_4 .popol_img {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 50%;
}

body main .popol .wrapper .po_1 .popol_img img, body main .popol .wrapper .po_2 .popol_img img,
body main .popol .wrapper .po_3 .popol_img img, body main .popol .wrapper .po_4 .popol_img img {
  width: 100%;
}

body main .popol .wrapper .po_1 .popol_text, body main .popol .wrapper .po_2 .popol_text,
body main .popol .wrapper .po_3 .popol_text, body main .popol .wrapper .po_4 .popol_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  text-align: center;
  color: #fff8fc;
  opacity: 0;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
}

body main .popol .wrapper .po_1 .popol_text h3, body main .popol .wrapper .po_2 .popol_text h3,
body main .popol .wrapper .po_3 .popol_text h3, body main .popol .wrapper .po_4 .popol_text h3 {
  font-size: 1.1em;
  line-height: 0.89em;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  body main .popol .wrapper .po_1 .popol_text h3, body main .popol .wrapper .po_2 .popol_text h3,
  body main .popol .wrapper .po_3 .popol_text h3, body main .popol .wrapper .po_4 .popol_text h3 {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1024px) {
  body main .popol .wrapper .po_1 .popol_text h3, body main .popol .wrapper .po_2 .popol_text h3,
  body main .popol .wrapper .po_3 .popol_text h3, body main .popol .wrapper .po_4 .popol_text h3 {
    font-size: 2.2em;
  }
}

body main .popol .wrapper .po_1 .popol_text p, body main .popol .wrapper .po_2 .popol_text p,
body main .popol .wrapper .po_3 .popol_text p, body main .popol .wrapper .po_4 .popol_text p {
  font-size: 1em;
  line-height: 1.2em;
}

@media screen and (min-width: 768px) {
  body main .popol .wrapper .po_1 .popol_text p, body main .popol .wrapper .po_2 .popol_text p,
  body main .popol .wrapper .po_3 .popol_text p, body main .popol .wrapper .po_4 .popol_text p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  body main .popol .wrapper .po_1 .popol_text p, body main .popol .wrapper .po_2 .popol_text p,
  body main .popol .wrapper .po_3 .popol_text p, body main .popol .wrapper .po_4 .popol_text p {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 768px) {
  body main .popol .wrapper .po_1 {
    position: absolute;
    top: 7%;
    left: 23%;
  }
}

@media screen and (min-width: 1024px) {
  body main .popol .wrapper .po_1 {
    top: 8%;
    left: 42%;
  }
}

@media screen and (min-width: 768px) {
  body main .popol .wrapper .po_2 {
    position: absolute;
    top: 30%;
    left: 8%;
  }
}

@media screen and (min-width: 1024px) {
  body main .popol .wrapper .po_2 {
    top: 28%;
    left: 12%;
  }
}

@media screen and (min-width: 768px) {
  body main .popol .wrapper .po_3 {
    position: absolute;
    top: 40%;
    left: 58%;
  }
}

@media screen and (min-width: 1024px) {
  body main .popol .wrapper .po_3 {
    top: 36%;
    left: 65%;
  }
}

@media screen and (min-width: 768px) {
  body main .popol .wrapper .po_4 {
    position: absolute;
    top: 58%;
    left: 28%;
  }
}

@media screen and (min-width: 1024px) {
  body main .popol .wrapper .po_4 {
    top: 52%;
    left: 43%;
  }
}

body main .etc {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/stone_mo.png) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  body main .etc {
    background: url(../images/stone_ba.png) no-repeat center;
    background-size: cover;
  }
}

body main .etc .wrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 640px;
  margin: 0 auto;
}

body main .etc .wrapper .stone_1 {
  position: absolute;
  top: 12%;
  left: 11%;
  width: 25%;
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_1 {
    top: 15%;
    left: 7%;
    width: 160px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_1 {
    top: 8%;
    left: 8%;
    width: 10%;
  }
}

body main .etc .wrapper .stone_2 {
  position: absolute;
  top: 17%;
  left: 60%;
  width: 20%;
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_2 {
    top: 22%;
    left: 75%;
    width: 180px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_2 {
    top: 3%;
    left: 70%;
    width: 9%;
  }
}

body main .etc .wrapper .stone_3 {
  position: absolute;
  top: 32%;
  left: 32%;
  width: 20%;
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_3 {
    top: 22%;
    left: 32%;
    width: 170px;
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_3 {
    top: 27%;
    left: 43%;
    width: 10%;
  }
}

body main .etc .wrapper .stone_4 {
  position: absolute;
  top: 38%;
  left: 70%;
  width: 18%;
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_4 {
    top: 46%;
    left: 75%;
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_4 {
    top: 38%;
    left: 77%;
    width: 9%;
  }
}

body main .etc .wrapper .stone_5 {
  position: absolute;
  top: 52%;
  left: 15%;
  width: 22%;
  -webkit-transform: rotate(-110deg);
          transform: rotate(-110deg);
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_5 {
    top: 52%;
    left: 15%;
    width: 190px;
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_5 {
    left: 3%;
    width: 10%;
    -webkit-transform: rotate(-100deg);
            transform: rotate(-100deg);
  }
}

body main .etc .wrapper .stone_6 {
  position: absolute;
  top: 63%;
  left: 47%;
  width: 18%;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_6 {
    top: 66%;
    left: 55%;
    width: 150px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_6 {
    top: 68%;
    left: 46%;
    width: 9%;
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
}

body main .etc .wrapper .stone_7 {
  position: absolute;
  top: 72%;
  left: 9%;
  width: 20%;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_7 {
    top: 82%;
    left: 8%;
    width: 170px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_7 {
    top: 80%;
    left: 15%;
    width: 9%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body main .etc .wrapper .stone_8 {
  position: absolute;
  top: 80%;
  left: 58%;
  width: 22%;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}

@media screen and (min-width: 768px) {
  body main .etc .wrapper .stone_8 {
    top: 85%;
    left: 45%;
    width: 190px;
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
}

@media screen and (min-width: 1024px) {
  body main .etc .wrapper .stone_8 {
    top: 78%;
    left: 76%;
    width: 9%;
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
  }
}

body footer {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: url(../images/planet_fo.png) no-repeat right bottom;
  background-size: 80%;
}

@media screen and (min-width: 768px) {
  body footer {
    background: url(../images/planet_fo_pc.png) no-repeat right bottom;
    background-size: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body footer {
    background-size: 80%;
  }
}

body footer .fo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/footer.png) no-repeat bottom center;
  background-size: 150%;
}

@media screen and (min-width: 768px) {
  body footer .fo {
    background-size: 120%;
  }
}

@media screen and (min-width: 1024px) {
  body footer .fo {
    background-size: 100%;
  }
}

body footer .fo h2 {
  font-size: 1.6em;
  font-weight: 700;
  color: #fff8fc;
  margin-top: 50%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body footer .fo h2 {
    font-size: 2em;
    margin-top: 30%;
  }
}

@media screen and (min-width: 1024px) {
  body footer .fo h2 {
    font-size: 3em;
    margin-top: 230px;
  }
}

body footer .fo p {
  font-size: 1em;
  font-weight: 500;
  color: #fff8fc;
}

@media screen and (min-width: 768px) {
  body footer .fo p {
    font-size: 1.2em;
    font-weight: 600;
  }
}

@media screen and (min-width: 1024px) {
  body footer .fo p {
    font-size: 2em;
  }
}
/*# sourceMappingURL=index.css.map */