@import url("https://webfontworld.github.io/naver/NanumSquareRound.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "NanumSquareRound";
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
  vertical-align: bottom;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.9em;
}

header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

body {
  width: 100%;
  height: 100%;
  background: url(../images/background_mo.png) no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  body {
    background: url(../images/background.png) no-repeat;
  }
}

body header {
  width: 100%;
  height: 100vh;
  position: relative;
}

body header .planet_1 {
  position: absolute;
  top: 17%;
  left: 15%;
  width: 18%;
}

@media screen and (min-width: 768px) {
  body header .planet_1 {
    top: 17%;
    left: 15%;
    width: 10%;
  }
}

body header .planet_2 {
  position: absolute;
  top: -3%;
  right: -13%;
  width: 45%;
}

@media screen and (min-width: 768px) {
  body header .planet_2 {
    top: 63%;
    right: 20%;
    width: 6%;
  }
}

body header .spaceship_flex {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  body header .spaceship_flex {
    width: 30%;
  }
}

body header .spaceship_flex::before, body header .spaceship_flex::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header .spaceship_flex::after {
  background: white;
  z-index: -1;
  -webkit-animation: backglow2 15s ease infinite;
          animation: backglow2 15s ease infinite;
}

body header .spaceship_flex::before {
  background: white;
  z-index: -1;
  -webkit-animation: backglow1 15s ease infinite;
          animation: backglow1 15s ease infinite;
}

body header .spaceship_flex .spaceship {
  width: 100%;
}

body header .planet_3 {
  position: absolute;
  top: 65%;
  left: 68%;
  width: 25%;
}

@media screen and (min-width: 768px) {
  body header .planet_3 {
    top: 70%;
    left: 5%;
    width: 30%;
  }
}

body header .planet_4 {
  position: absolute;
  top: 81%;
  left: 18%;
  width: 12%;
}

@media screen and (min-width: 768px) {
  body header .planet_4 {
    top: 8%;
    left: 72%;
    width: 22%;
  }
}

body main .hello {
  width: 100%;
  height: 100vh;
  position: relative;
}

body main .hello .hello_img {
  position: relative;
  width: 45%;
  margin: auto;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main .hello .hello_img {
    width: 35%;
    margin-bottom: 50px;
  }
}

body main .hello .hello_img::before, body main .hello .hello_img::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main .hello .hello_img::after {
  background: white;
  z-index: -1;
  -webkit-animation: backglow2 15s ease infinite;
          animation: backglow2 15s ease infinite;
}

body main .hello .hello_img::before {
  background: white;
  z-index: -1;
  -webkit-animation: backglow1 15s ease infinite;
          animation: backglow1 15s ease infinite;
}

body main .hello .hello_img img {
  width: 100%;
}

body main .hello .hello_img .hover {
  display: none;
}

body main .hello .hello_img .hover .frame {
  z-index: -1;
}

body main .hello .hello_img .hover img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  width: 90%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main .hello .hello_text {
  text-align: center;
  color: #fff8fc;
}

body main .hello .hello_text h1 {
  font-size: 3em;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  body main .hello .hello_text h1 {
    font-size: 4.2em;
  }
}

body main .hello .hello_text h2 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  body main .hello .hello_text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
}

body main .hello .hello_text p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  body main .hello .hello_text p {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 22px;
  }
}

body main .hello .hello_text .pr_list,
body main .hello .hello_text .history_list {
  display: none;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 22px;
  margin-bottom: 15px;
  list-style: square inside url("../svg/star.svg");
}

@media screen and (min-width: 768px) {
  body main .hello .hello_text .pr_list,
  body main .hello .hello_text .history_list {
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 35px;
    margin-bottom: 22px;
  }
}

body main .hello .hello_text .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  body main .hello .hello_text .view {
    display: none;
  }
}

body main .hello .hello_text .view img {
  display: inline;
  width: 5%;
}

body main .hello .hello_text .view span {
  margin: 0 10px;
}

body main .skill {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1f0b47;
  z-index: -1;
}

body main .skill .skill_img {
  width: 100%;
}

body main .skill .skill_img .html_css {
  position: absolute;
  top: 13%;
  right: 50%;
  width: 22%;
}

body main .skill .skill_img .adobe {
  position: absolute;
  top: 46%;
  right: 40%;
  width: 22%;
}

body main .skill .skill_img .js {
  position: absolute;
  top: 80%;
  right: 28%;
  width: 22%;
}

body main .skill .center {
  display: none;
}

body main .skill .circle_svg {
  width: 100%;
}

body main .skill .circle_svg .circle1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body main .skill .circle_svg .circle2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  z-index: -1;
}

body main .skill .circle_svg .circle3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 60%;
  z-index: -1;
}

body main .popol {
  width: 100%;
  height: 100vh;
}

body main .popol a {
  margin-top: 50px;
}

body main .popol a img {
  margin: auto;
  width: 38%;
}

body main .etc {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/stone_mo.png) no-repeat center;
  background-size: 90%;
}

body main .etc .clipPath svg:first-child {
  position: absolute;
  top: 10%;
  left: 11%;
}

body main .etc .clipPath svg:nth-child(2) {
  position: absolute;
  top: 13%;
  left: 54%;
}

body main .etc .clipPath svg:nth-child(3) {
  position: absolute;
  top: 28%;
  left: 32%;
}

body main .etc .clipPath svg:nth-child(4) {
  position: absolute;
  top: 35%;
  left: 68%;
}

body main .etc .clipPath svg:nth-child(5) {
  position: absolute;
  top: 47%;
  left: 24%;
}

body main .etc .clipPath svg:nth-child(6) {
  position: absolute;
  top: 58%;
  left: 53%;
}

body main .etc .clipPath svg:nth-child(7) {
  position: absolute;
  top: 67%;
  left: 10%;
}

body main .etc .clipPath svg:last-child {
  position: absolute;
  top: 72%;
  left: 61%;
}

body footer {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 50%;
  background-color: rgba(255, 99, 71, 0.5);
  background: url(../images/planet_fo.png) no-repeat right bottom;
  background-size: 95%;
}

body footer h2 {
  font-size: 1.6em;
  font-weight: 700;
  color: #fff8fc;
  margin-bottom: 15px;
}

body footer p {
  font-size: 1em;
  font-weight: 500;
  color: #fff8fc;
  margin-bottom: 18px;
}

body footer .copyright {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 150%;
  background-color: rgba(0, 255, 255, 0.5);
}

body footer .copyright img {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-left: -100%;
}
/*# sourceMappingURL=index.css.map */