@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    width: 100%;
    height: 100%;
    background: url(../images/background_mo.png) no-repeat;
    background-size: 100% 100%;

    @include responsive(tablet-size) {
        background: url(../images/background.png) no-repeat;
    }

    header {
        width: 100%;
        height: 100vh;
        position: relative;

        img {
            width: 30%;
        }

        .planet_1 {
            position: absolute;
            top: 17%;
            left: 15%;
            width: 18%;
        }

        .planet_2 {
            position: absolute;
            top: -3%;
            right: -13%;
            width: 45%;
        }

        .spaceship_flex {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40%;
    
            transform: translate(-50%, -50%);

            &::before, &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                width: 50%;
                height: 50%;
                border-radius: 50%;
                filter: blur(60px);

                transform: translate(-50%, -50%);
            }

            &::after {
                background: white;
                z-index: -1;
                animation: backglow2 15s ease infinite;
            }

            &::before {
                background: white;
                z-index: -1;
                animation: backglow1 15s ease infinite;
            }

            .spaceship{
                width: 100%;
            }
        }


        .planet_3 {
            position: absolute;
            top: 65%;
            left: 68%;
            width: 25%;
        }

        .planet_4 {
            position: absolute;
            top: 81%;
            left: 18%;
            width: 12%;
        }
    }

    main {
        .hello {
            width: 100%;
            height: 100vh;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                top: 10%;
                left: 50%;
                width: 18%;
                height: 18%;
                border-radius: 50%;
                filter: blur(60px);
                background: white;
                z-index: -1;

                transform: translate(-50%, -50%);
            }

            .hello_img {
                position: relative;
                width: 45%;
                margin: auto;
                margin-bottom: 25px;

                img{
                    width: 100%;
                }

                .hover {
                    display: none;
                    .frame {
                        z-index: -1;
                    }
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: -2;
                        width: 90%;
                        border-radius: 50%;

                        transform: translate(-50%, -50%);
                    }
                }
            }

            .hello_text {
                text-align: center;
                color: $font-color;

                h1 {
                    font: {
                        size: 3em;
                        weight: 700;
                    }
                }
                
                h2 {
                    font: {
                        size: 1.6em;
                        weight: 700;
                    }
                    margin-bottom: 15px;
                }

                p {
                    font: {
                        size: 1em;
                        weight: 500;
                    }
                    margin-bottom: 18px;
                }

                
                .pr_list,
                .history_list {
                    display: none;
                    
                    font: {
                        size: 0.9em;
                        weight: 500;
                    }
                    letter-spacing: 0.05em;
                    line-height: 22px;
                    margin-bottom: 15px;
                    list-style: square inside url("../svg/star.svg");
                }
                .view {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    img {
                        display: inline;
                        width: 5%;
                    }
                    
                    span {
                        margin: 0 10px;
                    }
                }
            }
        }

        .skill {
            position: relative;
            width: 100%;
            height: 100vh;
            background-color: #1f0b47;
            z-index: -1;

            .skill_img {
                width: 100%;

                .html_css {
                    position: absolute;
                    top: 13%;
                    right: 50%;
                    width: 22%;
                }

                .adobe {
                    position: absolute;
                    top: 46%;
                    right: 40%;
                    width: 22%;
                }

                .js {
                    position: absolute;
                    top: 80%;
                    right: 28%;
                    width: 22%;
                }
            }

            .center {
                display: none;
            }

            .circle_svg {
                width: 100%;

                .circle1 {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                .circle2 {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 90%;
                    height: 90%;
                    z-index: -1;
                }

                .circle3 {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 60%;
                    height: 60%;
                    z-index: -1;
                }
            }
        }

        .popol {
            width: 100%;
            height: 100vh;

            a {
                margin-top: 50px;

                img {
                    margin: auto;
                    width: 38%;
                }
            }
        }

        .etc {
            position: relative;
            width: 100%;
            height: 100vh;
            background: url(../images/stone_mo.png) no-repeat center;
            background-size: 90%;

            .clipPath {
                svg {
                    &:first-child {
                        position: absolute;
                        top: 10%;
                        left: 11%;
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: 13%;
                        left: 54%;
                    }

                    &:nth-child(3) {
                        position: absolute;
                        top: 28%;
                        left: 32%;
                    }

                    &:nth-child(4) {
                        position: absolute;
                        top: 35%;
                        left: 68%;
                    }

                    &:nth-child(5) {
                        position: absolute;
                        top: 47%;
                        left: 24%;
                    }

                    &:nth-child(6) {
                        position: absolute;
                        top: 58%;
                        left: 53%;
                    }

                    &:nth-child(7) {
                        position: absolute;
                        top: 67%;
                        left: 10%;
                    }

                    &:last-child {
                        position: absolute;
                        top: 72%;
                        left: 61%;
                    }
                }
            }
        }
    }

    footer{
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding-top: 50%;
        background-color: rgba(255, 99, 71, 0.5);
        background: url(../images/planet_fo.png) no-repeat right bottom;
        background-size: 95%;

        h2 {
            font: {
                size: 1.6em;
                weight: 700;
            }
            color: $font-color;
            margin-bottom: 15px;
        }

        p {
            font: {
                size: 1em;
                weight: 500;
            }
            color: $font-color;
            margin-bottom: 18px;
        }

        .copyright {
            position: absolute;
            bottom: 0%;
            left: 50%;
            width: 150%;
            background-color: rgba(0, 255, 255, 0.5);
            
            img {
                width: 100%;
                position: absolute;
                bottom: 0%;
                left: 50%;
                margin-left: -100%;
            }
        }
    }
}