@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background: url(../images/background_mo.png) no-repeat;
    background-size: 100% 100%;
    
    @include responsive(tablet-size) {
        background: url(../images/background.png) no-repeat;
        background-size: cover;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient( rgba(159, 223, 255, 0.0),#9fdfff,rgba(159, 223, 255, 0.0));
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #371c69;
    }
    
    
    .star {
        position: absolute;
        width: 2px;
        height: 2px;
        background: rgba(255, 255, 255, 0);
        border-radius: 5px;
        z-index: -5;
    }

    @keyframes twinkle {
        0% {
            transform: scale(1, 1);
            background: rgba(255, 255, 255, 0);
            animation-timing-function: ease-in;
        }
        60% {
            transform: scale(0.8, 0.8);
            background: rgba(255, 255, 255, 1);
            animation-timing-function: ease-out;
        }
        80% {
            background: rgba(255, 255, 255, 0);
            transform: scale(1, 1);
        }
        100% {
            background: rgba(255, 255, 255, 0);
            transform: scale(1, 1);
        }
    }

    header {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .planet_1 {
            position: absolute;
            left: 15%;
            width: 18%;
            animation: jump1 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

            @keyframes jump1 {
                0% {
                    top: 23%;
                }
                50% {
                    top: 21%;
                }
                100% {
                    top: 23%;
                }
            }

            @include responsive(tablet-size) {
                left: 15%;
                width: 10%;

                @keyframes jump1 {
                    0% {
                        top: 19%;
                    }
                    50% {
                        top: 17%;
                    }
                    100% {
                        top: 19%;
                    }
                }
            }

            @include responsive(pc-size) {
                left: 18%;
                width: 7%;
            }
        }

        .planet_2 {
            position: absolute;
            right: -13%;
            width: 45%;

            animation: jump2 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

            @keyframes jump2 {
                0% {
                    top: 0%;
                }
                50% {
                    top: -1%;
                }
                100% {
                    top: 0%;
                }
            }


            @include responsive(tablet-size) {
                right: 23%;
                width: 6%;

                @keyframes jump2 {
                    0% {
                        top: 75%;
                    }
                    50% {
                        top: 73%;
                    }
                    100% {
                        top: 75%;
                    }
                }
            }

            @include responsive(pc-size) {
                right: 20%;
                width: 5%;
            }
        }

        .spaceship_flex {
            position: absolute;
            left: 50%;
            width: 45%;

            transform: translate(-50%, -50%);
            animation: jump3 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

            @keyframes jump3 {
                0% {
                    top: 50%;
                }
                50% {
                    top: 48%;
                }
                100% {
                    top: 50%;
                }
            }

            @include responsive(tablet-size) {
                width: 30%;
            }

            @include responsive(pc-size) {
                width: 18%;
            }

            &::before, &::after {
                position: absolute;
                content: "";
                top: 35%;
                left: 35%;
                width: 30%;
                height: 30%;
                border-radius: 50%;
                filter: blur(100px);

                transform: translate(-50%, -50%);
            }

            &::after {
                background: white;
                z-index: -1;
                animation: backglow2 15s ease infinite;
            }

            &::before {
                background: white;
                z-index: -1;
                animation: backglow1 15s ease infinite;
            }

            @keyframes backglow1{
                0% {
                    transform: translate(10%, 10%) scale(1);
                    opacity:0.5;
                }

                25% {
                    transform: translate(-10%, 10%) scale(0.8);
                    opacity:0.5;
                }

                50% {
                    transform: translate(-10%, -10%) scale(1.2);
                    opacity:0.8;
                }

                75% {
                    transform: translate(10%, -10%) scale(1.1);
                    opacity:0.2;
                }

                100% {
                    transform: translate(10%, 10%) scale(1);
                    opacity:0.5;
                }
            }

            @keyframes backglow2 {
                0% {
                    transform: translate(-10%, -10%) scale(1);
                    opacity:0.5;
                }

                25% {
                    transform: translate(10%, -10%) scale(0.8);
                    opacity:0.5;
                }

                50% {
                    transform: translate(10%, 10%) scale(1.2);
                    opacity:0.8;
                }

                75% {
                    transform: translate(-10%, 10%) scale(1.1);
                    opacity:0.2;
                }

                100% {
                    transform: translate(-10%, -10%) scale(1);
                    opacity:0.5;
                }
            }

            .spaceship{
                width: 100%;
            }
        }

        .planet_3 {
            position: absolute;
            left: 68%;
            width: 25%;

            animation: jump4 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

            @keyframes jump4 {
                0% {
                    top: 58%;
                }
                50% {
                    top: 60%;
                }
                100% {
                    top: 58%;
                }
            }

            @include responsive(tablet-size) {
                left: 4%;
                width: 22%;

                @keyframes jump4 {
                    0% {
                        top: 58%;
                    }
                    50% {
                        top: 55%;
                    }
                    100% {
                        top: 58%;
                    }
                }
            }

            @include responsive(pc-size) {
                top: 8%;
                left: 7%;
                width: 14%;
            }
        }

        .planet_4 {
            position: absolute;
            left: 18%;
            width: 12%;

            animation: jump5 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

            @keyframes jump5 {
                0% {
                    top: 71%;
                }
                50% {
                    top: 70%;
                }
                100% {
                    top: 71%;
                }
            }


            @include responsive(tablet-size) {
                top: 8%;
                left: 72%;
                width: 22%;

                @keyframes jump5 {
                    0% {
                        top: 10%;
                    }
                    50% {
                        top: 8%;
                    }
                    100% {
                        top: 10%;
                    }
                }
            }

            @include responsive(pc-size) {
                top: 8%;
                left: 68%;
                width: 17%;
            }
        }
    }

    main {
        .hello {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100vh;
            
            .wrapper {
                @include wrapper;

                .hello_flex {
                    @include responsive(pc-size) {
                        @include wrapper;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .hello_img {
                        position: relative;
                        width: 45%;
                        margin: 0 auto;
                        margin-bottom: 25px;
    
                        @include responsive(tablet-size) {
                            width: 35%;
                        }
    
                        @include responsive(pc-size) {
                            width: 50%;
                            margin-right: 5%;
                        }
    
                        &::before, &::after {
                            position: absolute;
                            content: "";
                            top: 50%;
                            left: 50%;
                            width: 50%;
                            height: 50%;
                            border-radius: 50%;
                            filter: blur(60px);
    
                            transform: translate(-50%, -50%);
    
                            @include responsive(pc-size) {
                                top: 35%;
                                left: 50%;
                                width: 35%;
                                height: 35%;
                                filter: blur(100px);
                            }
                        }
    
                        &::after {
                            background: white;
                            z-index: -3;
                        }
    
                        &::before {
                            background: white;
                            z-index: -3;
                        }
    
                        img{
                            width: 100%;
                            @include responsive(pc-size) {
                                width: 80%;
                                margin: 0 auto;
                            }
    
                            &:nth-child(2){
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                z-index: -2;
                                width: 100%;
                                border-radius: 50%;
                                opacity: 0;
        
                                transform: translate(-50%, -50%);
    
                                @include responsive(pc-size) {
                                    position: absolute;
                                    top: 0%;
                                    left: 50%;
                                    width: 80%;
    
                                    transform: translate(-50%);
                                }
                            }
                        }
                    }
    
                    .hello_text {
                        text-align: center;
                        color: $font-color;
    
                        @include responsive(pc-size) {
                            width: 50%;
                            text-align: left;
                            margin: 0 auto;
                        }
    
                        h1 {
                            font: {
                                size: 4em;
                                weight: 700;
                            }
    
                            @include responsive(tablet-size) {
                                font: {
                                    size: 4.2em;
                                }
                            }
    
                            @include responsive(pc-size) {
                                display: inline;
                                font: {
                                    size: 4.7em;
                                }
                                margin-right: 25px;
                            }
                        }
    
                        .console,
                        .background {
                            @include responsive(pc-size) {
                                display: inline;
                            }
                        }
    
                        .change-text {
                            font: {
                                size: 2.5em;
                                weight: 700;
                            }
                            margin-bottom: 20px;
    
                            @include responsive(tablet-size) {
                                font: {
                                    size: 2.5em;
                                }
                            }
    
                            @include responsive(pc-size) {
                                display: inline;
                                font: {
                                    size: 2.8em;
                                }
                                margin-bottom: 40px;
                            }
    
                            &::after {
                                content: '_';
                                animation: blinking 1.2s infinite;
                            }
    
                            @keyframes blinking {
                                0%    { opacity: 0; }
                                50%   { opacity: 0; }
                                51%   { opacity: 1; }
                                100%  { opacity: 1; }
                            }
                        }
    
                        p {
                            font: {
                                size: 1.5em;
                                weight: 700;
                            }
                            margin-bottom: 25px;
    
                            @include responsive(tablet-size) {
                                font: {
                                    size: 1.8em;
                                    weight: 600;
                                }
                            }
    
                            @include responsive(pc-size) {
                                font: {
                                    size: 2.8em;
                                }
                                margin-bottom: 40px;
                            }
                        }
    
                        
                        .pr_list,
                        .history_list {
                            font: {
                                size: 1em;
                                weight: 700;
                            }
                            letter-spacing: 0.05em;
                            line-height: 30px;
                            margin-bottom: 15px;
                            list-style: square inside url("../svg/star.svg");
    
                            @include responsive(tablet-size) {
                                display: block;
                                font: {
                                    size: 1.3em;
                                    weight: 500;
                                }
                                letter-spacing: 0.08em;
                                line-height: 35px;
                                margin-bottom: 22px;
                            }
    
                            @include responsive(pc-size) {
                                font: {
                                    size: 1.8em;
                                    weight: 500;
                                }
                                letter-spacing: 0.08em;
                                line-height: 35px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }

            }
        }

        
        .skill {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100vh;
            background-color: #1f0b47;
            overflow: hidden;
            z-index: -1;

            @include responsive(pc-size) {
                background: none;
            }

            .wrapper {
                @include wrapper;

                .page {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .container {
                        position: relative;
                        width: #{$container-size};
                        height: #{$container-size};

                        .inner {
                            position: absolute;
                            left: calc((#{$container-size} - #{$d2}) / 2);
                            top: calc((#{$container-size} - #{$d2}) / 2);
                            width: #{$d2};
                            height: #{$d2};
                            background: url(https://www.designeinheit.de/kunden/mm/text_kreislauf.svg) center center;
                            background-size: contain;
                            animation: rotate 30s reverse linear infinite;
                        }
        
                        .middle, .outer {
                            position: absolute;
                            pointer-events: none;
                        }
        
                        .middle {
                            left: calc((#{$container-size} - #{$d3}) / 2);
                            top: calc((#{$container-size} - #{$d3}) / 2);
                            width: #{$d3};
                            height: #{$d3};
                            animation: rotate 35s linear infinite;

                            .icon-buch { 
                                background: url(../svg/Adobe.svg) no-repeat;
                            }

                            .icon-film { 
                                background: url(../svg/JavaScript.svg) no-repeat; 
                            }
                        }
        
                        .outer {
                            left: calc((#{$container-size} - #{$d4}) / 2);
                            top: calc((#{$container-size} - #{$d4}) / 2);
                            width: #{$d4};
                            height: #{$d4};
                            animation: rotate 45s reverse linear infinite;

                            .icon-screen { 
                                background: url(../svg/HTML_CSS.svg) no-repeat; 
                            }
            
                            .icon-kompass { 
                                background: url(../svg/SASS.svg) no-repeat; 
                            }
                        }
        
                        .middle.dots, .outer.dots {
                            border: 0.5px dotted #5b5f62;
                            border-radius: 500px;
                        }
        
                        .middle.dots { 
                            border: 0.5px solid #eb860e; 
                        }
        
                        .dot {
                            position: absolute;
                            width: 48px;
                            height: 48px;
                            left: -24px;
                            top: calc(50% - 24px);
                            border-radius: 100px;
                            background-size: 85%;
                            box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
                        }

                        .target {
                            position: absolute;
                            width: 64px;
                            height: 64px;
                            left: -32px;
                            top: calc(50% - 32px);
                            border-radius: 32px;
                            pointer-events: auto;
                            cursor: pointer;

                            .tooltip {
                                display: block;
                                position: absolute;
                                width: 170px;
                                height: 26px;
                                left: calc(50% - 85px);
                                top: -10px;
                                background-color: #eb860e;
                                color: #fff;
                                border-radius: 2px;
                                text-align: center;
                                font-weight: 300;
                                font-size: 15px;
                                line-height: 26px;
                                opacity: 0;
                                transition: top 0.15s ease-out, opacity 0.15s ease-out;
                                pointer-events: none;
                            }

                            &:hover {
                                .tooltip { 
                                    top: -25px; 
                                    opacity: 1; 
                                }
                            }
                        }
        
                        .dot:nth-child(2) { left: calc(100% - 24px); }
                        .target:nth-child(2) { left: calc(100% - 32px); }
        
                        .middle .dot, .middle .target { animation: rotate 35s reverse linear infinite; }
                        .outer .dot, .outer .target { animation: rotate 45s linear infinite; }

                        @keyframes rotate { 
                            100% { 
                                -webkit-transform: rotate(360deg); 
                                transform:rotate(360deg); 
                            } 
                        }
    
                    }    
                }
            }
        }

        
        .popol {
            width: 100%;
            height: 100vh;
            padding-top: 10%;
            padding-bottom: 10%;
            overflow: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 3px;

                @include responsive(tablet-size) {
                    display: none;
                }
            }
        
            &::-webkit-scrollbar-thumb {
                background: rgba(221, 0, 85, 0.5);
                border-radius: 5px;

                @include responsive(tablet-size) {
                    display: none;
                }
            }
        
            &::-webkit-scrollbar-track {
                background: #371c69;

                @include responsive(tablet-size) {
                    display: none;
                }
            }

            @include responsive(tablet-size) {
                position: relative;
            }

            .wrapper {
                @include wrapper;

                .po_1, .po_2,
                .po_3, .po_4{
                    position: relative;
                    width: 40%;
                    margin: 0 auto;
                    margin-top: 6vh;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 6vh;
                    }

                    @include responsive(tablet-size) {
                        width: 30%;
                    }

                    @include responsive(pc-size) {
                        width: 24%;
                        max-width: 500px;
                    }

                    &:hover {
                        .popol_img {
                            background-color: #000;
                        }

                        img {
                            transition: all 0.3s ease;
                            opacity: 1;
                            cursor: url(./images/picture.png),pointer;
                        }

                        .popol_text {
                            opacity: 1;
                            transition: all 0.3s ease;
                        }
                    }
                    
                    .popol_img {
                        opacity: 1;
                        transition: all 0.3s ease;
                        overflow: hidden;
                        border-radius: 50%;

                        img{
                            width: 100%;
                        }
                    }

                    .popol_text {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 60%;
                        text-align: center;
                        color: $font-color;
                        opacity: 0;

                        transform: all 0.3s ease;

                        h3 {
                            font: {
                                size: 1.1em;
                            }
                            line-height: 0.89em;
                            margin-bottom: 5px;

                            @include responsive(tablet-size) {
                                font: {
                                    size: 1.6em;
                                }
                            }
        
                            @include responsive(pc-size) {
                                font: {
                                    size: 2.2em;
                                }
                            }
                        }

                        p {
                            font: {
                                size: 1em;
                            }
                            line-height: 1.2em;
                            @include responsive(tablet-size) {
                                font: {
                                    size: 1em;
                                }
                            }
        
                            @include responsive(pc-size) {
                                font: {
                                    size: 1.6em;
                                }
                            }
                        }
                    }
                }

                .po_1 {
                    @include responsive(tablet-size) {
                        position: absolute;
                        top: 7%;
                        left: 23%;
                    }

                    @include responsive(pc-size) {
                        top: 8%;
                        left: 42%;
                    }
                }

                .po_2 {
                    @include responsive(tablet-size) {
                        position: absolute;
                        top: 30%;
                        left: 8%;
                    }

                    @include responsive(pc-size) {
                        top: 28%;
                        left: 12%;
                    }
                }

                .po_3 {
                    @include responsive(tablet-size) {
                        position: absolute;
                        top: 40%;
                        left: 58%;
                    }

                    @include responsive(pc-size) {
                        top: 36%;
                        left: 65%;
                    }
                }

                .po_4 {
                    @include responsive(tablet-size) {
                        position: absolute;
                        top: 58%;
                        left: 28%;
                    }

                    @include responsive(pc-size) {
                        top: 52%;
                        left: 43%;
                    }
                }
            }
        }

        
        .etc {
            position: relative;
            width: 100%;
            height: 100vh;
            margin: auto;
            background: url(../images/stone_mo.png) no-repeat center;
            background-size: 85%;
            max-width: 2000px;

            @include responsive(tablet-size) {
                background: url(../images/stone_ba.png) no-repeat center;
                background-size: 100%;
            }

            .wrapper {
                @include wrapper;

                [data-wrapper] {
                    position: fixed;
                    top: 0;
                    left: 0;
                    background: transparent;
                    width: 100%;
                    height: 0;
                    transition: background .3s;
                    overflow-x: hidden;
                    overflow-y: auto;
                    z-index: 9999;
                }

                [data-wrapper].active {
                    background: rgba(0, 0, 0, 0.5);
                    height: 100vh;
                    padding: 100px 0;
                }

                [data-wrapper] .modal-content { 
                    margin: 0 auto;
                    background: #fff;
                    border-radius: 5px;
                    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);
                    padding: 20px;
                    opacity: 0;
                    visibility: hidden;
                    transform: translate(0, -50px);
                    transition: .3s;
                }

                [data-wrapper].active .modal-content {
                    transform: translate(0, 0px);
                    opacity: 1;
                    visibility: visible;
                }


                [data-wrapper="modal-wrapper-medium"] .modal-content {
                    max-width: 250px;

                    @include responsive(tablet-size) {
                        max-width: 700px;
                    }

                    h2 {
                        margin: 0 0 15px 0;
                    }
                }

                .stone_1 {
                    position: absolute;
                    top: 23%;
                    left: 11%;
                    width: 28%;
                    max-width: 140px;

                    @include responsive(tablet-size) {
                        top: 15%;
                        left: 7%;
                        max-width: 180px;

                        transform: rotate(15deg);
                    }

                    @include responsive(pc-size) {
                        top: 8%;
                        left: 8%;
                        max-width: 350px;
                    }
                }

                .stone_2 {
                    position: absolute;
                    top: 26%;
                    left: 59%;
                    width: 23%;
                    max-width: 140px;

                    @include responsive(tablet-size) {
                        top: 22%;
                        left: 75%;
                        max-width: 180px;

                        transform: rotate(-20deg);
                    }

                    @include responsive(pc-size) {
                        top: 4%;
                        left: 70%;
                        max-width: 320px;
                    }
                }

                .stone_3 {
                    position: absolute;
                    top: 38%;
                    left: 32%;
                    width: 25%;
                    max-width: 140px;

                    @include responsive(tablet-size) {
                        top: 22%;
                        left: 32%;
                        max-width: 180px;
                    }

                    @include responsive(pc-size) {
                        top: 28%;
                        left: 41%;
                        max-width: 360px;
                    }
                }

                .stone_4 {
                    position: absolute;
                    top: 40%;
                    left: 70%;
                    width: 25%;
                    max-width: 140px;

                    @include responsive(tablet-size) {
                        top: 46%;
                        left: 75%;
                        max-width: 180px;
                    }

                    @include responsive(pc-size) {
                        top: 38%;
                        left: 75%;
                        max-width: 300px;
                    }
                }

                .stone_5 {
                    position: absolute;
                    top: 51%;
                    left: 15%;
                    width: 26%;
                    max-width: 140px;

                    transform: rotate(-110deg);

                    @include responsive(tablet-size) {
                        top: 52%;
                        left: 15%;
                        max-width: 180px;

                        transform: rotate(-120deg);
                    }

                    @include responsive(pc-size) {
                        top: 46%;
                        left: 3%;
                        max-width: 300px;

                        transform: rotate(-100deg);
                    }
                }

                .stone_6 {
                    position: absolute;
                    top: 58%;
                    left: 48%;
                    width: 27%;
                    max-width: 140px;

                    transform: rotate(-80deg);

                    @include responsive(tablet-size) {
                        top: 66%;
                        left: 55%;
                        max-width: 180px;

                        transform: rotate(00deg);
                    }

                    @include responsive(pc-size) {
                        top: 64%;
                        left: 46%;
                        max-width: 300px;

                        transform: rotate(-80deg);
                    }
                }

                .stone_7 {
                    position: absolute;
                    top: 67%;
                    left: 18%;
                    width: 28%;
                    max-width: 140px;

                    transform: rotate(80deg);

                    @include responsive(tablet-size) {
                        top: 82%;
                        left: 8%;
                        max-width: 180px;

                        transform: rotate(60deg);
                    }

                    @include responsive(pc-size) {
                        top: 72%;
                        left: 15%;
                        max-width: 350px;

                        transform: rotate(0deg);
                    }
                }

                .stone_8 {
                    position: absolute;
                    top: 71%;
                    left: 56%;
                    width: 27%;
                    max-width: 140px;

                    transform: rotate(-80deg);

                    @include responsive(tablet-size) {
                        top: 85%;
                        left: 45%;
                        max-width: 180px;

                        transform: rotate(150deg);
                    }

                    @include responsive(pc-size) {
                        top: 78%;
                        left: 76%;
                        max-width: 300px;

                        transform: rotate(110deg);
                    }
                }
            }
        }
    }

    footer{
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        background: url(../images/planet_fo.png) no-repeat right bottom;
        background-size: 80%;

        @include responsive(tablet-size) {
            background: url(../images/planet_fo_pc.png) no-repeat right bottom;
            background-size: 100%;
        }

        @include responsive(pc-size) {
            background-size: 80%;
        }

        .fo {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../images/footer.png) no-repeat bottom center;
            background-size: 150%;

            @include responsive(tablet-size) {
                background-size: 150%;
            }

            @include responsive(pc-size) {
                background-size: 95%;
            }

            h2 {
                font: {
                    size: 1.6em;
                    weight: 700;
                }
                color: $font-color;
                margin-top: 50%;
                margin-bottom: 20px;

                @include responsive(tablet-size) {
                    font: {
                        size: 2em;
                    }
                    margin-top: 30%;
                }

                @include responsive(pc-size) {
                    font: {
                        size: 3em;
                    }
                    margin-top: 230px;
                }
            }

            p {
                font: {
                    size: 1em;
                    weight: 500;
                }
                color: $font-color;

                @include responsive(tablet-size) {
                    font: {
                        size: 1.2em;
                        weight: 600;
                    }
                }

                @include responsive(pc-size) {
                    font: {
                        size: 2em;
                    }
                }
            }
        }
    }
}