@mixin skill_rotation($wi, $s) {
    width: $wi;
    height: $wi;
    margin-top: -50%;
    margin-left: -50%;

    animation: spin-right_mo $s linear infinite;

    @include responsive(tablet-size) {
        animation: spin-right $s linear infinite;
    }

    div {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-sizing: border-box;

        @include responsive(tablet-size) {
            width: 50px;
            height: 50px;
        }

        img {
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 0 34px #3a4385;
        }
    }
}

@mixin po_po($po_top, $po_lrft) {
    position: absolute;
    top: $po_top;
    left: $po_lrft;
}

@mixin etc_po($etc_top, $etc_lrft) {
    position: absolute;
    top: $etc_top;
    left: $etc_lrft;
}

@mixin arrow_box($ab_top, $ab_lrft) {
    display: none;
    position: absolute;
    top: $ab_top;
    left: $ab_lrft;
    height: 20px;
    font-size: 0.5em;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    padding: 0 10px;
    color: $font-color;
    border-radius: 8px;
    background: $fonh;

    @include responsive(tablet-size) {
        height: 30px;
        font-size: 0.95em;
        line-height: 30px;
    }

    @include responsive(pc-size) {
        height: 35px;
        font-size: 1.25em;
        line-height: 35px;
    }

    &::after{
        position: absolute;
        bottom: 98%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        border: solid transparent;
        border-color: rgba(51, 51, 51, 0);
        border-bottom-color: $fonh;
        border-width: 5px;
        pointer-events: none;
        content: ' ';

        @include responsive(tablet-size) {
            margin-left: -8px;
            border-width: 8px;
        }
    
        @include responsive(pc-size) {
            margin-left: -10px;
            border-width: 10px;
        }
    }
}

@mixin wrapper {
    width: 100%;
    max-width: 1920px;
    min-height: 640px;
    margin: 0 auto;
}

@mixin responsive($break) {
    @if $break == mobile-size {
        @media screen and (min-width: $break-mobile) {
            @content;
        }
    }
    @else if $break == tablet-size {
        @media screen and (min-width: $break-tablet) {
            @content;
        }
    }
    @else if $break == pc-size {
        @media screen and (min-width: $break-pc) {
            @content;
        }
    }
}