@mixin skill_rotation($sk_top, $sk_left) {
    position: absolute;
    top: $sk_top;
    left: $sk_left;
    width: 50px;
    height: 50px;

    &:hover {
        opacity: 0.3;
    }

    animation: spin-right-img 30s linear infinite;

    @include responsive(tablet-size) {
        width: 55px;
        height: 55px;
    }

    @include responsive(pc-size) {
        width: 60px;
        height: 60px;
    }
}

@mixin po_po($po_top, $po_left) {
    position: absolute;
    top: $po_top;
    left: $po_left;
}

@mixin etc_po($etc_top, $etc_left) {
    position: absolute;
    top: $etc_top;
    left: $etc_left;
    cursor: pointer;
}

@mixin arrow_box($ab_top, $ab_left) {
    display: none;
    position: absolute;
    top: $ab_top;
    left: $ab_left;
    height: 20px;
    font-size: 0.5em;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    padding: 0 10px;
    color: $font-color;
    border-radius: 8px;
    background: $fonh;

    @include responsive(tablet-size) {
        height: 30px;
        font-size: 0.95em;
        line-height: 30px;
    }

    @include responsive(pc-size) {
        height: 35px;
        font-size: 1.25em;
        line-height: 35px;
    }

    &::after{
        position: absolute;
        bottom: 98%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        border: solid transparent;
        border-color: rgba(51, 51, 51, 0);
        border-bottom-color: $fonh;
        border-width: 5px;
        pointer-events: none;
        content: ' ';

        @include responsive(tablet-size) {
            margin-left: -8px;
            border-width: 8px;
        }
    
        @include responsive(pc-size) {
            margin-left: -10px;
            border-width: 10px;
        }
    }
}

@mixin wrapper {
    width: 100%;
    max-width: 1920px;
    min-height: 640px;
    margin: 0 auto;
    // background-color: rgba(255, 99, 71, 0.5);
}

@mixin responsive($break) {
    @if $break == mobile-size {
        @media screen and (min-width: $break-mobile) {
            @content;
        }
    }
    @else if $break == tablet-size {
        @media screen and (min-width: $break-tablet) {
            @content;
        }
    }
    @else if $break == pc-size {
        @media screen and (min-width: $break-pc) {
            @content;
        }
    }
}