@import url('https://webfontworld.github.io/naver/NanumSquareRound.css');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: $font;
    margin: 0 auto;
    // background-color: aqua;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

img {
    display: block;
    vertical-align: bottom;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 0.9em;
}

header,
nav,
main,
section,
aside,
article,
footer {
    display: block;
}