@import url("https://webfontworld.github.io/naver/NanumSquareRound.css");
* {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "NanumSquareRound";
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
  vertical-align: bottom;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.9em;
}

header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: url(../images/back.png) no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(159, 223, 255, 0)), to(#9fdfff));
  background: linear-gradient(rgba(159, 223, 255, 0), #9fdfff);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #371c69;
}

body .star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  z-index: -2;
}

@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: rgba(255, 255, 255, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    background: white;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes twinkle {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: rgba(255, 255, 255, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    background: white;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

body header {
  border-bottom: 1px solid transparent;
  border-radius: 50%;
  -o-border-image: linear-gradient(to right, rgba(255, 248, 252, 0), #fff8fc, rgba(255, 248, 252, 0));
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 248, 252, 0)), color-stop(#fff8fc), to(rgba(255, 248, 252, 0)));
     border-image: linear-gradient(to right, rgba(255, 248, 252, 0), #fff8fc, rgba(255, 248, 252, 0));
  border-image-slice: 1;
}

body header .wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body header .wrapper .header_flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 768px) {
  body header .wrapper .header_flex_box {
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  body header .wrapper .header_flex_box {
    height: 80px;
  }
}

body header .wrapper .header_flex_box .logo {
  width: 35px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  body header .wrapper .header_flex_box .logo {
    width: 40px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body header .wrapper .header_flex_box .logo {
    width: 50px;
    margin-left: 45px;
  }
}

body header .wrapper .header_flex_box a {
  width: 30px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  body header .wrapper .header_flex_box a {
    width: 35px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body header .wrapper .header_flex_box a {
    width: 45px;
    margin-right: 45px;
  }
}

body header .wrapper .header_flex_box a img {
  width: 100%;
}

body main #mockup {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding: 0 12%;
  max-width: 1920px;
}

@media screen and (min-width: 768px) {
  body main #mockup {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  body main #mockup {
    margin-top: 150px;
  }
}

body main #mockup::after {
  content: '';
  position: absolute;
  top: 85%;
  left: 50%;
  width: 92%;
  height: 150%;
  background-color: #fff8fc;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body main #mockup::after {
  border-radius: 20px;
}

body main #mockup .wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body main #mockup .wrapper h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.08em;
  color: #fff8fc;
  margin-left: 10px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  body main #mockup .wrapper h1 {
    font-size: 4.5em;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1024px) {
  body main #mockup .wrapper h1 {
    font-size: 5.5em;
    margin-bottom: 110px;
  }
}

body main #mockup .wrapper img {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  body main #mockup .wrapper img {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  body main #mockup .wrapper img {
    width: 65%;
  }
}

body main #about {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding: 0 12%;
  max-width: 1920px;
}

@media screen and (min-width: 768px) {
  body main #about {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  body main #about {
    margin-top: 150px;
  }
}

body main #about::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  width: 92%;
  height: 150%;
  background-color: #fff8fc;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body main #about .wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body main #about .wrapper .title {
  width: 100%;
}

body main #about .wrapper .title h1 {
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: -0.08em;
  color: #222222;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main #about .wrapper .title h1 {
    font-size: 2.8em;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1024px) {
  body main #about .wrapper .title h1 {
    font-size: 3.2em;
    margin-bottom: 45px;
  }
}

body main #about .wrapper .text p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.03em;
  color: #222222;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main #about .wrapper .text p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  body main #about .wrapper .text p {
    font-size: 1.4em;
    line-height: 1.35em;
    margin-bottom: 40px;
  }
}

body main #about .wrapper .etc p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.03em;
  color: #222222;
  margin-bottom: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body main #about .wrapper .etc p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  body main #about .wrapper .etc p {
    font-size: 1.4em;
    line-height: 1.35em;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  body main #about .wrapper .etc p {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  body main #about .wrapper .etc p {
    margin-bottom: 8px;
  }
}

body main #about .wrapper .etc p .front {
  font-weight: 600;
  margin-right: 10px;
}

body main #color {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding: 0 12%;
  max-width: 1920px;
}

@media screen and (min-width: 768px) {
  body main #color {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  body main #color {
    margin-top: 150px;
  }
}

body main #color::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  width: 92%;
  height: 150%;
  background-color: #fff8fc;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body main #color .wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body main #color .wrapper .title {
  width: 100%;
}

body main #color .wrapper .title h1 {
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: -0.08em;
  color: #222222;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main #color .wrapper .title h1 {
    font-size: 2.8em;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1024px) {
  body main #color .wrapper .title h1 {
    font-size: 3.2em;
    margin-bottom: 45px;
  }
}

body main #color .wrapper .palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main #color .wrapper .palette {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1024px) {
  body main #color .wrapper .palette {
    margin-bottom: 45px;
  }
}

body main #color .wrapper .palette .white {
  width: 30%;
  border-radius: 50%;
  border: #dddddd solid 1px;
  background-color: #fff7eb;
}

@media screen and (min-width: 768px) {
  body main #color .wrapper .palette .white {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  body main #color .wrapper .palette .white {
    width: 15%;
  }
}

body main #color .wrapper .palette .white::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

body main #color .wrapper .palette .brown {
  width: 30%;
  border-radius: 50%;
  margin: 0 5%;
  background-color: #e8c6a2;
}

@media screen and (min-width: 768px) {
  body main #color .wrapper .palette .brown {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  body main #color .wrapper .palette .brown {
    width: 15%;
  }
}

body main #color .wrapper .palette .brown::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

body main #color .wrapper .palette .black {
  width: 30%;
  border-radius: 50%;
  background-color: #7c432a;
}

@media screen and (min-width: 768px) {
  body main #color .wrapper .palette .black {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  body main #color .wrapper .palette .black {
    width: 15%;
  }
}

body main #color .wrapper .palette .black::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

body main #color .wrapper .palette .skyblue {
  width: 30%;
  border-radius: 50%;
  background-color: #c8ccd9;
}

@media screen and (min-width: 768px) {
  body main #color .wrapper .palette .skyblue {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  body main #color .wrapper .palette .skyblue {
    width: 15%;
  }
}

body main #color .wrapper .palette .skyblue::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

body main #color .wrapper .text p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.03em;
  color: #222222;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main #color .wrapper .text p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  body main #color .wrapper .text p {
    font-size: 1.4em;
    line-height: 1.35em;
    margin-bottom: 40px;
  }
}

body main #font {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding: 0 12%;
  max-width: 1920px;
}

@media screen and (min-width: 768px) {
  body main #font {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  body main #font {
    margin-top: 150px;
  }
}

body main #font::after {
  content: '';
  position: absolute;
  top: -10%;
  left: 50%;
  width: 92%;
  height: 150%;
  background-color: #fff8fc;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body main #font .wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body main #font .wrapper .title {
  width: 100%;
}

body main #font .wrapper .title h1 {
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: -0.08em;
  color: #222222;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main #font .wrapper .title h1 {
    font-size: 2.8em;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1024px) {
  body main #font .wrapper .title h1 {
    font-size: 3.2em;
    margin-bottom: 45px;
  }
}

body main #font .wrapper .font_img {
  width: 100%;
}

body main #font .wrapper .font_img img {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main #font .wrapper .font_img img {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  body main #font .wrapper .font_img img {
    margin-bottom: 40px;
  }
}

body main #coding {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding: 0 12%;
  max-width: 1920px;
}

@media screen and (min-width: 768px) {
  body main #coding {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding {
    margin-top: 150px;
  }
}

body main #coding::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  width: 92%;
  height: 150%;
  background-color: #fff8fc;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body main #coding::after {
  height: 100.3%;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  body main #coding::after {
    height: 100.2%;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding::after {
    height: 100.7%;
  }
}

body main #coding .wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body main #coding .wrapper .title {
  width: 100%;
}

body main #coding .wrapper .title h1 {
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: -0.08em;
  color: #222222;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .title h1 {
    font-size: 2.8em;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .title h1 {
    font-size: 3.2em;
    margin-bottom: 45px;
  }
}

body main #coding .wrapper .text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.03em;
  color: #222222;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .text {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .text {
    font-size: 1.4em;
    line-height: 1.35em;
    margin-bottom: 40px;
  }
}

body main #coding .wrapper .complete {
  width: 100%;
}

body main #coding .wrapper .complete .pc {
  width: 100%;
  margin-bottom: 20px;
}

body main #coding .wrapper .complete .pc h2 {
  font-size: 2.1em;
  font-weight: 600;
  letter-spacing: -0.08em;
  color: #222222;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .pc h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .complete .pc h2 {
    font-size: 2.8em;
    margin-bottom: 30px;
  }
}

body main #coding .wrapper .complete .pc img {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .pc img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .complete .pc img {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .flex_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body main #coding .wrapper .complete .flex_box .tablet {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .flex_box .tablet {
    width: 99%;
  }
}

body main #coding .wrapper .complete .flex_box .tablet h2 {
  font-size: 2.1em;
  font-weight: 600;
  letter-spacing: -0.08em;
  color: #222222;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .flex_box .tablet h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .complete .flex_box .tablet h2 {
    font-size: 2.8em;
    margin-bottom: 30px;
  }
}

body main #coding .wrapper .complete .flex_box .tablet img {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .flex_box .tablet img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .complete .flex_box .tablet img {
    margin-bottom: 30px;
  }
}

body main #coding .wrapper .complete .flex_box .mobile {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .flex_box .mobile {
    width: 99%;
    margin-left: 2%;
  }
}

body main #coding .wrapper .complete .flex_box .mobile h2 {
  font-size: 2.1em;
  font-weight: 600;
  letter-spacing: -0.08em;
  color: #222222;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .flex_box .mobile h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .complete .flex_box .mobile h2 {
    font-size: 2.8em;
    margin-bottom: 30px;
  }
}

body main #coding .wrapper .complete .flex_box .mobile img {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body main #coding .wrapper .complete .flex_box .mobile img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body main #coding .wrapper .complete .flex_box .mobile img {
    margin-bottom: 30px;
  }
}

body footer {
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 768px) {
  body footer {
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  body footer {
    height: 100px;
  }
}
/*# sourceMappingURL=Treasure_Road_in_Jeju.css.map */